#login-div {
  margin-top: 180px;
}

#login-title {
  margin-bottom: 30px;
  color: white;
}

#login-title > h2 {
  font-weight: 500;
}

body {
  background-color: #2a3542;
}

#login-btn {
  margin-top: 30px;
}

#login-form input {
  background-color: transparent;
  border-color: white;
  color: white;
}

#login-form input::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}

label {
  color: white;
  font-size: 20px;
}

.status-box {
  display: none;
  color: white;
  font-size: 20px;
  margin-top: 40px;
  border: 1px dashed white;
}

.status-img {
  margin-right: 15px;
}
